:root {
  --off-white: #f4f4f4;
  --color-black: #111111;
  --color-blue: #71a5ed;
  --color-blue-light: #a4d8ff;
  --color-red: #fc6471;
  --color-red-light: #ff97a4;
  --color-lavender: #E9D2F4;
  --color-lavender-light: #ffecff;
  --color-purple: #4E598C;
  --color-purple-light: #9ba6d9;

  --grey-050: #F7F7F7;
  --grey-100: #E1E1E1;
  --grey-200: #CFCFCF;
  --grey-300: #B1B1B1;
  --grey-400: #9E9E9E;
  --grey-500: #7E7E7E;
  --grey-600: #626262;
  --grey-700: #515151;
  --grey-800: #3B3B3B;
  --grey-900: #222222;

  --default-font-size: 1.6rem;

  --dark-text: hsl(0, 0%, 13%);
  --normal-text: hsl(0, 0%, 29%);
  --light-text: hsl(0, 0%, 45%);

  --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  --inset-box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);

  --font-size-headline: 6rem;
  --font-size-subheadline: 5rem;
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --spacing-6: 8rem;
  --spacing-7: 16rem;
  --sizing-1: 1rem;
  --sizing-2: 2rem;
  --sizing-3: 4rem;
  --sizing-4: 8rem;
  --sizing-5: 16rem;
  --sizing-6: 32rem;
  --sizing-7: 48rem;
  --sizing-8: 64rem;
  --sizing-9: 96rem;
  --border-radius-none: 0;
  --border-radius-1: 0.125rem;
  --border-radius-2: 0.25rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 1rem;
  --border-radius-circle: 100%;
  --border-radius-pill: 9999px;
  --border-width-none: 0;
  --border-width-1: 0.125rem;
  --border-width-2: 0.25rem;
  --border-width-3: 0.5rem;
  --border-width-4: 1rem;
  --border-width-5: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  border-width: 0;
  border-style: solid;
  border-color: #dae1e7;
}

html {
  min-height: 100vh;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: "Avenir Next", "Avenir", sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* font-size: 16px; */
}
@media only screen and (max-width: 576px) {
  html {
  font-size: 16px;
  }
}
/* NOTE: The order seems to matter!! */
/* If the width is 576px or MORE */
@media only screen and (min-width: 36em) {
  html {
    font-size: 17px;
  }
}
/* If the width is 768px or MORE */
@media only screen and (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
/* If the width is 992px or MORE */
@media only screen and (min-width: 62em) {
  html {
    font-size: 19px;
  }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Picker {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-3);
}
@media only screen and (min-width: 48em) {
  .Picker {
    padding-bottom: var(--spacing-6);
    padding-left: var(--spacing-4);
  }
}
@media only screen and (min-width: 62em) {
  .Picker {
    padding-left: var(--spacing-6);
  }
}

.Picker__text {
  display: inline-block;
  padding-top: var(--spacing-1);
  margin-top: var(--spacing-4);
  font-size: var(--font-size-4);
  line-height: 1.5;
}
@media only screen and (min-width: 36em) {
  .Picker__text {
    padding-top: var(--spacing-2);
  }
}

.Picker__text:nth-child(1) {
  padding-right: var(--spacing-3);
}

.Picker__text button {
  line-height: 1.3;
  font-size: var(--font-size-4);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 -0.2em 0 0 var(--color-red);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  border-radius: 0;
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  outline: none;
}

.Picker__text button:hover {
  box-shadow: inset 0 -2em 0 0 var(--color-red);
}

.Picker__right {
  color: var(--color-blue);
  /* font-size: 3rem; */
  font-weight: 900;
}

main {
  display: block;
}
h1 {
  font-size: 2em;
  /* margin: 0.67em 0; */
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
