.WorkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 36em) {
  /*576px or more*/
  .WorkWrapper {
    padding-top: var(--spacing-5);
  }
}

.Work {
  width: var(--sizing-5);
  height: var(--sizing-5);
  background: hsl(0, 0%, 90%);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.5s;
  border: 15px solid white;
}
@media only screen and (min-width: 36em) {
  /*576px or more*/
  .Work {
    width: 24rem;
    height: 24rem;
  }
}
@media only screen and (min-width: 56.25em) {
  /*900px or more*/
  .Work {
    width: 32rem;
    height: 32rem;
  }
}
@media only screen and (min-width: 68.75em) {
  /*1100px or more*/
  .Work {
    width: 38rem;
    height: 38rem;
  }
}
@media only screen and (min-width: 87.5em) {
  /*1400px or more*/
  .Work {
    width: 45rem;
    height: 45rem;
  }
}

.Work__title {
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  font-size: var(--font-size-3);
  color: var(--normal-text);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
  margin-left: var(--spacing-2);
}
@media only screen and (min-width: 36em) {
  /*576px or more*/
  .Work__title {
  font-size: var(--font-size-1);
  }
}

.Work__subTitle {
  margin-bottom: var(--spacing-2);
  font-size: var(--font-size-5);
  color: var(--dark-text);
  font-weight: 400;
  text-transform: lowercase;
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  background: linear-gradient(var(--color-red), var(--color-red-light));
}
@media only screen and (min-width: 36em) {
  /*576px or more*/
  .Work__subTitle {
  font-size: var(--font-size-4);
  }
}

.Work__description {
  margin-bottom: var(--spacing-2);
  font-size: var(--font-size-6);
  font-weight: 400;
  text-transform: lowercase;
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
@media only screen and (min-width: 36em) {
  /*576px or more*/
  .Work__description {
  font-size: var(--font-size-7);
  }
}

.Work__toolsHeading {
  font-size: var(--font-size-6);
  color: var(--normal-text);
  font-weight: 900;
}

.Work__tools {
  font-size: var(--font-size-7);
  color: var(--dark-text);
  font-weight: 400;
}

.Work__siteButton {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Work__image {
  width: 100%;
  padding: 0.5rem;
}

.Work__button {

}
